<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CapillarContext"
         connectionString="Server=Nitro\SQL_19;Database=Capillar;User Id=sunes;Password=.sunes.;TrustServerCertificate=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>